

/*Сделать весь текст невыделяемым*/
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Отключить стандартные отступы тела страницы*/
body {
  margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.scene{
  width: 960px;
  height: 560px;
  border: 6px solid #8BC34A;
  border-radius: 12px;
  /*background-color: rgb(252, 243, 205);*/
  position: relative;
  margin: 0 auto;
  top: 30px;
}

.scene .title {
  display: inline-block;
  position: relative;
  font-size: 36px;
  color: #464242;
  top: 10px;
}
.title{
  width: 100%;
  margin-bottom: 15px;
}
/*.elements{
position: relative;
}*/
.wrong{
  width:365px;
  height: 365px;
  top: 10px;
  float:left;
  padding-left: 10px;

}
.inner-wrong{
  margin-left:20px;
}
.puzzles{
  width:365px;
  height: 365px;
  top: 10px;
  float:left;
  padding-left: 20px;
}
.inner-puzzles{

}
.table {
  display: table;
  width:360px;
  border:1px solid black;
  border-collapse:collapse;

}
.row {
  display: table-row;
  border:1px solid black;
}
.picture {
  width: 120px;
  height: 120px;
  display: table-cell;
  border:1px solid #ff0000;
}
.ready{
  margin: 10px;
}
